.admin-page {
  display: flex;
  justify-content: center;          
  align-items: center;              
  min-height: calc(100vh - 130px);  
  text-align: center;
  background: linear-gradient(135deg, #fafafa, #ffdcdc);
}

.admin-container {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 500px;
}

.admin-title {
    font-size: 35px;
    font-weight: bold;
    margin: 20px 0;
    font-family: 'Poppins', sans-serif;
}
.admin-btn { 
    background: linear-gradient(90deg, #b92d2d, #c32f2f); 
    padding: 12px;
    border-radius: 3px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer; 
    width: 60%;
}

.admin-btn:hover {
    background: linear-gradient(90deg, #9a2525, #a52727); 
}
.admin-actions { 
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}
