.reset-page {
  display: flex;
  justify-content: center;          
  align-items: center;              
  min-height: calc(100vh - 130px);  
  text-align: center;
  background: linear-gradient(135deg, #fafafa, #ffefef);
}

.reset-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 320px;
}

.reset-title { 
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

.reset-subtitle {
    font-size: 1rem;
    color: #414141;
    margin-bottom: 30px;
    font-family: 'Poppins', sans-serif;
}

.reset-form { 
    display: flex; 
    flex-direction: column;
    gap: 20px;
}


.reset-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.reset-button { 
    background: linear-gradient(90deg, #b92d2d, #c32f2f); 
    padding: 12px;
    border-radius: 3px;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}