.site-header {
  display: flex;                    
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  background-color: #ffffff; 
  border-bottom: 1px solid #e5e5e5;
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);
  z-index: 1000;     
}

.mid-header {
  display: flex;
  gap: 80px;
  flex: 1;
  justify-content: center;
}

.left-header {
  font-size: 25px;       
  font-weight: 700;           
  color: #333;              
  cursor: pointer;            
}

.right-header {
  position: relative;
  display: flex;              
  align-items: center;        
  justify-content: flex-end; 
}

.right-header .signin-btn {
  display: inline-block;
  background-color: #b74b4b;
  color: white;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2 ease;
  white-space: nowrap;
}

.right-header .signin-btn:hover {
  background-color: #913939;     
}


.signin-box {
  position: absolute;
  top: 50px;
  right: 0;
  background: white;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 16px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 200px;
}

.signin-box.hidden {
  display: none;
}

.signin-box input,
.signin-box button {

  border-radius: 6px;
  border: 1px solid rgb(204, 204, 204);
}

.mid-header .nav-link {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  font-size: 19px;
  transition: color 0.2s ease, transform 0.2s ease; 
}

.mid-header .nav-link:hover {
  color: #b74b4b;
  transform: translateY(-2px); 
}