.headerContainer {
  display: flex;                    
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  background-color: #ffffff; 
  border-bottom: 1px solid #e5e5e5;
  box-shadow: 0 1px 3px rgba(0,0,0,0.05);
  z-index: 1000;     
}

.midHeader {
  display: flex;
  gap: 80px;
  flex: 1;
  justify-content: center;
}

.leftHeader {
  font-size: 25px;       
  font-weight: 700;           
  color: #333;              
  cursor: pointer;            
}

.rightHeader {
  position: relative;
  display: flex;              
  align-items: center;        
  justify-content: flex-end; 
}

.rightHeader .signinButton {
  display: inline-block;
  background-color: #b74b4b;
  color: white;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2 ease;
  white-space: nowrap;
}

.rightHeader .signinButton:hover {
  background-color: #913939;     
}

.midHeader .navLink, .adminLink {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  font-size: 19px;
  transition: color 0.2s ease, transform 0.2s ease; 
  font-family: 'Poppins', sans-serif;
}

.midHeader .navLink:hover {
  color: #b74b4b;
  transform: translateY(-2px); 
}

.adminLink {
  color: #df1010;
}

.adminLink:hover { 
  color: #b40b0b;
  transform: translateY(-2px);
}

.logoLink {
  text-decoration: none;
  color: inherit;
}

.loginPhoto {
  width: 40px;
  height: 40px;
  border-radius: 50%; /* optional: makes it circular */
  object-fit: cover;
  cursor: pointer;
}

.loginContainer { 
  z-index: 999;
}

.signOut {
  display: inline-block;
  background-color: #b74b4b;
  color: white;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2 ease;
  white-space: nowrap;
}